<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

<form action="#" th:action="@{/submit}" th:object="${message}" method="post">
    <label for="content">Treść:</label>
    <input type="text" id="content" name="content" th:field="*{content}"><br>
    <button type="submit">Wyślij</button>
</form>

<table class="table table-bordered">
    <thead>
    <tr class="active">
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Wiek</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each ="message : ${msgList}">

        <td> <b  th:text="${message.messageID}">...</b> </td>
        <td> <b  th:text="${message.creationTime}">...</b> </td>
        <td> <b  th:text="${message.content}">...</b> </td>

    </tr>
    </tbody>
</table>

</body>
</html>